{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ group.group_name }} - Files</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">    
</head>

<body class = "m-0 p-0 bg-[#f7f7f7]" style="font-family: 'Poppins', sans-serif; transition: background-color 0.5s ease, color 0.5s ease;">
    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    <main class="main-container" style="margin-left: 220px; padding: 60px 30px 20px;">
        {% include 'group_navbar.html' %}

        <div class="group-dashboard-container bg-gray-100 dark:bg-gray-900 p-6 rounded-lg shadow-md"
        style = "margin-left: 180px; margin-right:180px;">
            <h1 class="text-2xl font-bold mb-6 yellow-gradient p-4 text-4xl font-bold text-gray-800 dark:text-white mb-4 rounded-md">
            Create Post</h1>
            <form method="post">
            {% csrf_token %}
            
            <!-- Title -->
            <p>
                <label for="id_title" class="block text-lg font-medium mb-2">Title:</label>
                <input type="text" 
                    name="title" 
                    value="{{ form.title.value }}" 
                    maxlength="100" 
                    required 
                    id="id_title" 
                    style="background-color: #ececec;"
                    class="w-full px-4 py-2 border rounded-md">
            </p>

            <!-- Description -->
            <p>
                <label for="id_description" class="block text-lg font-medium mb-2">Description:</label>
                <textarea name="description" 
                        cols="15" 
                        rows="4" 
                        required 
                        id="id_description" 
                        style="background-color: #ececec;"
                        class="w-full px-4 py-2 border rounded-md">{{ form.description.value }}</textarea>
            </p>

            <!-- Submit Button -->
            <p>
                <button type="submit" 
                        class="px-6 py-2 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600">
                    Submit
                </button>
            </p>
        </form>

        </div>

    </main>
</body>

</html>
