{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
    <title>Create Study Group</title>
</head>
<body>
    {% include 'header.html' %}

    {% include 'sidebar.html' %}

    <main>
        <h2>Create a Study Group</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Group</button>
        </form>
    </main>
</body>
</html>
