{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ group.group_name }} - Files</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="/static/css/general.css?">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">    
</head>
<body class = "m-0 p-0 bg-[#f7f7f7]" style="font-family: 'Poppins', sans-serif; transition: background-color 0.5s ease, color 0.5s ease;">
    {% include 'header.html' %}

    {% include 'sidebar.html' %}

    <main style="margin-left: 220px; padding: 100px 30px 20px;">
        {% include 'group_navbar.html' %}

        Group Files
    </main>
</body>
</html>