{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyHive - Study Groups</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="/static/css/general.css?">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">    
</head>

<body class = "m-0 p-0 bg-[#f7f7f7]" style="font-family: 'Poppins', sans-serif; transition: background-color 0.5s ease, color 0.5s ease;">
    {% include 'header.html' %}

    {% include 'sidebar.html' %}

    <main style="margin-left: 220px; padding: 100px 30px 20px;">
        <div class="join-or-create-container flex flex-col items-end relative space-y-2" style="position: relative; width: 240px; margin-left: auto;">
            <!-- Dropdown Button -->
            <button 
                id="dropDownButton" 
                class="rounded px-3 py-2 shadow yellow-gradient" 
                style="width: 100%; color: #1A1A1B; text-align: center;"
                onclick="toggleDropdown()"
                onmouseover="this.style.background = 'linear-gradient(to left, #1A1A1B, #353437)'; this.style.color='white';" 
                onmouseout="this.style.background ='linear-gradient(to right, #FFE03C, #E9B033)'; this.style.color='#1A1A1B';">
                Join or create study group
            </button>
            <!-- Dropdown Menu -->
            <div 
                id="dropdownMenu" 
                class="hidden absolute top-full shadow z-10 yellow-gradient"
                style="width: inherit; color: #1A1A1B; display: none; right: 0; border-radius: 5px;">
                <button 
                    class="text-center transition rounded yellow-gradient" 
                    onclick="window.location.href='{% url 'create_group' %}'"
                    style="width: 100%; padding: 8px; border: none; text-align: center; right: 0; color: #1A1A1B;"
                    onmouseover="this.style.background = 'linear-gradient(to left, #1A1A1B, #353437)'; this.style.color='white';" 
                    onmouseout="this.style.background ='linear-gradient(to right, #FFE03C, #E9B033)'; this.style.color='#1A1A1B';">
                    Create study group
                </button>
                <button 
                    class="text-center transition rounded yellow-gradient" 
                    onclick="window.location.href='{% url 'join_group' %}'"
                    style="width: 100%; padding: 8px; border: none; text-align: center; right: 0; color: #1A1A1B;"
                    onmouseover="this.style.background = 'linear-gradient(to left, #1A1A1B, #353437)'; this.style.color='white';" 
                    onmouseout="this.style.background ='linear-gradient(to right, #FFE03C, #E9B033)'; this.style.color='#1A1A1B';">
                    Join study group
                </button>
            </div>
        </div>

        <!-- Results Section -->
        {% comment %} <section class="group-grid mt-5">
            <div id="resultsContainer" class="results-container"></div>
        </section> {% endcomment %}

        <h2 class="text-2xl font-semibold mb-4">Study Groups</h2>

        <section class="group-grid mb-8">
            <h3 class="text-xl font-medium mb-4">Your Created Groups</h3>
            <div class="group-cards created-groups">
                {% for group in created_groups %}
                    <div class="group-card bg-gray-100" 
                        data-id="{{ group.unique_id }}" 
                        data-name="{{ group.group_name }}" 
                        data-description="{{ group.description }}" 
                        data-subject="{{ group.subject }}" 
                        data-creator="{{ group.user.username }}" 
                        data-members="{{ group.members.count }}" 
                        data-private="{{ group.is_private|yesno:'Yes,No' }}"
                        data-code="{{ group.unique_id }}">
                        <h3 class="text-lg font-semibold mb-2 truncate">{{ group.group_name }}</h3>
                        <p class="text-base truncate">Subject: {{ group.subject }}</p>
                        <p class="text-sm">Members: {{ group.members.count }}</p>
                        <p class="text-sm mb-2">Private: {{ group.is_private|yesno:'Yes,No' }}</p>
                        <button class="enter-group-button border-none px-3 py-1 cursor-pointer rounded-md flex justify-center items-center mx-auto"
                        onclick="redirectToGroupDashboard('{{ group.unique_id }}')"
                        onmouseover="this.style.background = 'linear-gradient(to left, #1A1A1B, #353437)'; this.style.color='white';" 
                        onmouseout="this.style.background ='none'; this.style.color='#1A1A1B';">
                        Enter</button>
                    </div>
                {% empty %}
                    <p>No groups created yet. Why not create your own?</p>
                {% endfor %}
            </div>
        </section>

        <section class="group-grid mb-8">
            <h3 class="text-xl font-medium mb-4">Your Joined Groups</h3>
            <div class="group-cards joined-groups">
                {% for group in joined_groups %}
                    <div class="group-card bg-gray-100" 
                        data-id="{{ group.unique_id }}" 
                        data-name="{{ group.group_name }}" 
                        data-description="{{ group.description }}" 
                        data-subject="{{ group.subject }}" 
                        data-creator="{{ group.user.username }}" 
                        data-members="{{ group.members.count }}" 
                        data-private="{{ group.is_private|yesno:'Yes,No' }}"
                        data-code="{{ group.unique_id }}">
                        <h3 class="text-lg font-semibold mb-2 truncate">{{ group.group_name }}</h3>
                        <p class="text-base truncate">Subject: {{ group.subject }}</p>
                        <p class="text-base truncate">Owner: {{ group.user.first_name }} {{ group.user.last_name }}</p>
                        <p class="text-sm">Members: {{ group.members.count }}</p>
                        <p class="text-sm mb-2">Private: {{ group.is_private|yesno:'Yes,No' }}</p>
                        <button class="enter-group-button border-none px-3 py-1 cursor-pointer rounded-md flex justify-center items-center mx-auto"
                        onclick="redirectToGroupDashboard('{{ group.unique_id }}')"
                        onmouseover="this.style.background = 'linear-gradient(to left, #1A1A1B, #353437)'; this.style.color='white';" 
                        onmouseout="this.style.background ='none'; this.style.color='#1A1A1B';">
                        Enter</button>
                    </div>
                {% empty %}
                    <p>You haven't joined any groups yet.</p>
                {% endfor %}
            </div>
        </section>

    </main>

    <!-- Modal Structure -->
    {% comment %} <div id="groupModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Group Name: <span id="modalGroupName"></span></h2>
            <p>Description: <span id="modalDescription"></span></p>
            <p>Subject: <span id="modalSubject"></span></p>
            <p>Creator: <span id="modalCreator"></span></p>
            <p>Members: <span id="modalMembers"></span></p>
            <p>Private: <span id="modalPrivate"></span></p>
            <p>Code: <span id="modalCode"></span></p>
            <button id="enterGroupButton" onclick="enterGroup()">Enter Group</button>
        </div>
    </div> {% endcomment %}


    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Para sa dropdown sa join or create
            const joinGroupButton = document.getElementById('dropDownButton');
            const dropdownMenu = document.getElementById('dropdownMenu');

            joinGroupButton.addEventListener('click', (event) => {
                console.log("Join Group Button clicked"); // Log when the button is clicked
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
                event.stopPropagation();
            });

            // Hide dropdown when clicking outside of the dropdown or button
            document.addEventListener('click', (event) => {
                if (!dropdownMenu.contains(event.target) && !joinGroupButton.contains(event.target)) {
                    console.log("Click detected outside of dropdown, hiding dropdown"); // Log when clicking outside
                    dropdownMenu.style.display = 'none';
                }
            });

            window.addEventListener('keydown', function(event) {
                if (event.key === 'Escape' && modal.style.display === 'block') {
                    modal.style.display = "none"; // Hide the modal
                }
            });

            // Modal functionality for group cards
            const modal = document.getElementById("groupModal");
            const closeModal = document.getElementsByClassName("close")[0];

            function openModal(groupData) {
                document.getElementById("modalGroupName").textContent = groupData.name;
                document.getElementById("modalDescription").textContent = groupData.description;
                document.getElementById("modalSubject").textContent = groupData.subject;
                document.getElementById("modalCreator").textContent = groupData.creator;
                document.getElementById("modalMembers").textContent = groupData.members;
                document.getElementById("modalPrivate").textContent = groupData.private;
                document.getElementById("modalCode").textContent = groupData.code;
                modal.style.display = "block"; // Show the modal
            }
        });

        function redirectToGroupDashboard(groupCode) {
            // Encode the groupCode to ensure it is URL-safe
            const encodedGroupCode = encodeURIComponent(groupCode);
            
            // Generate the URL and redirect
            window.location.href = `{% url 'group_dashboard' 'GROUP_CODE' %}`.replace('GROUP_CODE', encodedGroupCode);
        }
    </script>
</body>
</html>
{% comment %} console.log("Group Code:", groupCode);
window.location.href = '/groups/' + encodeURIComponent(groupCode) + '/'; {% endcomment %}