{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
    <title>Join a Study Group</title>
</head>
<body>
    {% include 'header.html' %}

    {% include 'sidebar.html' %}

    <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Join Group</button>
        </form>

        <p><a href="{% url 'home' %}">Back to Home</a></p>
    </main>
</body>
</html>
