{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
    <title>Join a Study Group</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>StudyHive</h1>
            <div class="user-info">
                <span>Welcome, {{ user.username }}!</span>
                <img src="{% static 'media/profile-pic.svg' %}" alt="Profile Picture" class="profile-pic">
            </div>
        </div>
    </header>

    <div class="sidebar">
        <ul>
            <li>My Groups</li>
            <li>Messages</li>
            <li>Calendar</li>
            <li>About Us</li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Join Group</button>
        </form>

        <p><a href="{% url 'home' %}">Back to Home</a></p>
    </main>
</body>
</html>
