{% load static %}

<div 
    class="gray-gradient sidebar fixed top-2 left-0 h-screen flex flex-col items-center justify-center p-4 shadow-lg sidebar light-shadow" 
    id="sidebar"
    style="width: 100px; box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);">

    <a href="{% url 'home' %}" class="mt-6 text-xs text-center {% if active_page == 'home' %}active-link{% endif %}">
        <div class="tooltip-container flex cursor-pointer flex-col items-center">
            <img 
                class="w-16 h-16 rounded-full object-cover transition-shadow duration-300"
                id="mode-icon-mygroups"
                src="{% static 'media/dark-mode-mygroups.svg' %}" 
                loading="lazy" 
                alt="My Groups">
            <span class="tooltip-text">Groups</span>
        </div>
    </a>

    <a href="{% url 'calendar_management' %}" class="mt-6 text-xs text-center {% if active_page == 'calendar' %}active-link{% endif %}">
        <div class="tooltip-container flex cursor-pointer flex-col items-center">
            <img 
                class="w-16 h-16 rounded-full object-cover transition-shadow duration-300"
                id="mode-icon-calendar"
                src="{% static 'media/dark-mode-calendar.svg' %}" 
                loading="lazy" 
                alt="Calendar">
            <span class="tooltip-text">Calendar</span>
        </div>
    </a>

    <a href="{% url 'logout' %}" class="mt-6 text-xs text-center {% if active_page == 'logout' %}active-link{% endif %}">
        <div class="tooltip-container flex cursor-pointer flex-col items-center">
            <img 
                class="w-16 h-16 rounded-full object-cover transition-shadow duration-300"
                id="mode-icon-logout"
                src="{% static 'media/dark-mode-logout.svg' %}" 
                loading="lazy" 
                alt="Logout">
            <span class="tooltip-text">Logout</span>
        </div>
    </a>
</div>
