{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <title>Edit Post</title>
</head>
<body class="bg-gray-100">
  <header class="bg-yellow-300 shadow-md h-20 flex items-center justify-between px-6">
    <h1 class="text-2xl font-bold text-black">StudyHive</h1>
    <h2 class="text-xl font-medium text-black">Welcome, {{ user.username }}</h2>
  </header>
  <div class="container mx-auto px-4 py-8">
    
    <h1 class="text-3xl font-bold mb-4">Edit Comment</h1>

    {% if form.errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline">
        {% for error in form.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </span>
    </div>
    {% endif %}

    <form method="post" class="space-y-4">
      {% csrf_token %}
      <div class="flex flex-col">
        <label for="id_text" class="block text-3xl font-medium text-gray-700">Comment</label>
        {% if form.text.errors %}
          <div class="text-red-500">{{ form.text.errors }}</div>
        {% endif %}
        <input type="text" name="text" id="id_text" value="{{ comment.text }}">
      </div>
      <div class="flex justify-end mx-4">
        <a href="javascript:history.back()" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded mx-4">Cancel</a>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">Update Comment</button>
      </div>
    </form>
  </div>
</body>
</html>