<h1>Post List</h1>
<ul>
    {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
        </li>
    {% endfor %}
</ul>

<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 833px; height: 815px; left: 518px; top: 104px; position: absolute; background: #D9D9D9; border-radius: 50px"></div>
    <div style="width: 162px; height: 50px; left: 608px; top: 588px; position: absolute; background: #485361; border-radius: 28px"></div>
    <div style="left: 627px; top: 598px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Short msg..</div>
    <div style="width: 50px; height: 50px; left: 538px; top: 588px; position: absolute; background: #234E8E; border-radius: 9999px"></div>
    <div style="width: 13.10px; height: 13px; left: 575px; top: 625px; position: absolute; background: #13F25F; border-radius: 9999px"></div>
    <div style="width: 391px; height: 815px; left: 76px; top: 104px; position: absolute; background: #D9D9D9; border-radius: 50px"></div>
    <div style="width: 391px; height: 107px; left: 76px; top: 588px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7E7B7B"></div>
      <div style="width: 79.61px; height: 80px; left: 14.11px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 103.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 154.18px; height: 17px; left: 103.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sent you a message</div>
      <div style="width: 13.10px; height: 13px; left: 67.52px; top: 73px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
    </div>
    <div style="width: 833px; height: 145px; left: 518px; top: 104px; position: absolute; background: #150B0B; border-top-left-radius: 50px; border-top-right-radius: 50px"></div>
    <div style="width: 320px; height: 67px; left: 111px; top: 145px; position: absolute; background: linear-gradient(0deg, #150A0A 0%, #150A0A 100%), linear-gradient(0deg, rgba(245.85, 236.83, 236.83, 0.20) 0%, rgba(245.85, 236.83, 236.83, 0.20) 100%); border-radius: 20px"></div>
    <div style="width: 391px; height: 107px; left: 76px; top: 267px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7B1414"></div>
      <div style="width: 79.61px; height: 80px; left: 14.11px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 103.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 62.48px; height: 17px; left: 103.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">is online</div>
      <div style="width: 13.10px; height: 13px; left: 67.52px; top: 73px; position: absolute; background: #13F25F; border-radius: 9999px"></div>
    </div>
    <div style="width: 391px; height: 107px; left: 76px; top: 374px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7E7B7B"></div>
      <div style="width: 79.61px; height: 80px; left: 15.12px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 104.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 154.18px; height: 17px; left: 104.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sent you a message</div>
      <div style="width: 13.10px; height: 13px; left: 68.53px; top: 73px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
    </div>
    <div style="width: 391px; height: 107px; left: 76px; top: 481px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7E7B7B"></div>
      <div style="width: 79.61px; height: 80px; left: 14.11px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 103.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 154.18px; height: 17px; left: 103.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sent you a message</div>
      <div style="width: 13.10px; height: 13px; left: 67.52px; top: 73px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
    </div>
    <div style="width: 391px; height: 107px; left: 76px; top: 481px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7E7B7B"></div>
      <div style="width: 79.61px; height: 80px; left: 14.11px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 103.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 154.18px; height: 17px; left: 103.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sent you a message</div>
      <div style="width: 13.10px; height: 13px; left: 67.52px; top: 73px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
    </div>
    <div style="width: 391px; height: 107px; left: 76px; top: 695px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7E7B7B"></div>
      <div style="width: 79.61px; height: 80px; left: 14.11px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 103.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 154.18px; height: 17px; left: 103.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sent you a message</div>
      <div style="width: 13.10px; height: 13px; left: 67.52px; top: 73px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
    </div>
    <div style="width: 391px; height: 107px; left: 76px; top: 802px; position: absolute">
      <div style="width: 391px; height: 107px; left: 0px; top: 0px; position: absolute; background: #7E7B7B"></div>
      <div style="width: 79.61px; height: 80px; left: 14.11px; top: 13px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 181.39px; height: 32px; left: 103.80px; top: 13px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">Its a Name</div>
      <div style="width: 154.18px; height: 17px; left: 103.80px; top: 69px; position: absolute; color: white; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sent you a message</div>
      <div style="width: 13.10px; height: 13px; left: 67.52px; top: 73px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
    </div>
    <div style="width: 126px; height: 128px; left: 563px; top: 121px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 13.10px; height: 13px; left: 657px; top: 212px; position: absolute; background: #13F25F; border-radius: 9999px"></div>
    <div style="width: 258px; height: 66px; left: 720px; top: 146px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">John Doe</div>
    <div style="width: 53px; height: 46px; left: 1093px; top: 148px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 53px; height: 46px; left: 1162px; top: 148px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 12px; height: 53px; left: 1311px; top: 145px; position: absolute">
      <div style="width: 12px; height: 14.45px; left: 0px; top: 38.55px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 12px; height: 14.45px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div style="width: 12px; height: 14.45px; left: 0px; top: 19.27px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    </div>
    <div style="width: 794px; height: 98px; left: 538px; top: 782px; position: absolute; background: #562828; border-radius: 12px"></div>
    <div style="width: 53px; height: 46px; left: 1259px; top: 808px; position: absolute; background: #D9D9D9"></div>
    <input type="text" style="width: 313px; height: 36px; left: 575px; top: 795px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder="Type a message">
    <div style="width: 50px; height: 50px; left: 1273px; top: 671px; position: absolute; background: #234E8E; border-radius: 9999px"></div>
    <div style="width: 266px; height: 50px; left: 993px; top: 671px; position: absolute; background: #485361; border-radius: 28px"></div>
    <div style="left: 1012px; top: 681px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Long ass message...</div>
    <div style="width: 13.10px; height: 13px; left: 1310px; top: 704px; position: absolute; background: rgba(250.10, 5, 5, 0.80); border-radius: 9999px"></div>
  </div>