<!DOCTYPE html>
<html>
<head>
    <title>My Post</title>
    <link rel="stylesheet" href="css/post_styles.css">
</head>
<body>
    <header id="header">
        <h1>My Website</h1>
        
        <nav id="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
               
                <li>Welcome, {{ user.username }}!</li>
               
            </ul>
        </nav>
    </header>

    <button type="submit"> <a href="{% url 'create_post' %}">create post</a></button>

    
    <h1>Post List</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
            </li>
        {% endfor %}
    </ul>
    
    </div>
</body>
</html>