{% load static %}

<div class="w-[1440px] h-[1024px] relative bg-white">
    <div class="w-[833px] h-[815px] left-[518px] top-[104px] absolute bg-[#d9d9d9] rounded-[50px]"></div>
    <div class="w-[162px] h-[50px] left-[608px] top-[588px] absolute bg-[#475361] rounded-[28px]"></div>
    <div class="left-[627px] top-[598px] absolute text-white text-2xl font-normal font-['Inter']">Short msg..</div>
    <div class="w-[50px] h-[50px] left-[538px] top-[588px] absolute bg-[#224d8e] rounded-full"></div>
    <div class="w-[13.10px] h-[13px] left-[575px] top-[625px] absolute bg-[#13f25f] rounded-full"></div>
    <div class="w-[391px] h-[815px] left-[76px] top-[104px] absolute bg-[#d9d9d9] rounded-[50px]"></div>
    <div class="w-[391px] h-[107px] left-[76px] top-[588px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7d7a7a]"></div>
      <div class="w-[79.61px] h-20 left-[14.11px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[103.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[154.18px] h-[17px] left-[103.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">Sent you a message</div>
      <div class="w-[13.10px] h-[13px] left-[67.52px] top-[73px] absolute bg-[#fa0505]/80 rounded-full"></div>
    </div>
    <div class="w-[833px] h-[145px] left-[518px] top-[104px] absolute bg-[#140a0a] rounded-tl-[50px] rounded-tr-[50px]"></div>
    <div class="w-80 h-[67px] left-[111px] top-[145px] absolute bg-[#f5ecec]/20 rounded-[20px]"></div>
    <div class="w-[391px] h-[107px] left-[76px] top-[267px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7a1414]"></div>
      <div class="w-[79.61px] h-20 left-[14.11px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[103.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[62.48px] h-[17px] left-[103.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">is online</div>
      <div class="w-[13.10px] h-[13px] left-[67.52px] top-[73px] absolute bg-[#13f25f] rounded-full"></div>
    </div>
    <div class="w-[391px] h-[107px] left-[76px] top-[374px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7d7a7a]"></div>
      <div class="w-[79.61px] h-20 left-[15.12px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[104.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[154.18px] h-[17px] left-[104.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">Sent you a message</div>
      <div class="w-[13.10px] h-[13px] left-[68.53px] top-[73px] absolute bg-[#fa0505]/80 rounded-full"></div>
    </div>
    <div class="w-[391px] h-[107px] left-[76px] top-[481px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7d7a7a]"></div>
      <div class="w-[79.61px] h-20 left-[14.11px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[103.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[154.18px] h-[17px] left-[103.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">Sent you a message</div>
      <div class="w-[13.10px] h-[13px] left-[67.52px] top-[73px] absolute bg-[#fa0505]/80 rounded-full"></div>
    </div>
    <div class="w-[391px] h-[107px] left-[76px] top-[481px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7d7a7a]"></div>
      <div class="w-[79.61px] h-20 left-[14.11px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[103.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[154.18px] h-[17px] left-[103.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">Sent you a message</div>
      <div class="w-[13.10px] h-[13px] left-[67.52px] top-[73px] absolute bg-[#fa0505]/80 rounded-full"></div>
    </div>
    <div class="w-[391px] h-[107px] left-[76px] top-[695px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7d7a7a]"></div>
      <div class="w-[79.61px] h-20 left-[14.11px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[103.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[154.18px] h-[17px] left-[103.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">Sent you a message</div>
      <div class="w-[13.10px] h-[13px] left-[67.52px] top-[73px] absolute bg-[#fa0505]/80 rounded-full"></div>
    </div>
    <div class="w-[391px] h-[107px] left-[76px] top-[802px] absolute">
      <div class="w-[391px] h-[107px] left-0 top-0 absolute bg-[#7d7a7a]"></div>
      <div class="w-[79.61px] h-20 left-[14.11px] top-[13px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-[181.39px] h-8 left-[103.80px] top-[13px] absolute text-white text-[32px] font-normal font-['Inter']">Its a Name</div>
      <div class="w-[154.18px] h-[17px] left-[103.80px] top-[69px] absolute text-white text-[15px] font-normal font-['Inter']">Sent you a message</div>
      <div class="w-[13.10px] h-[13px] left-[67.52px] top-[73px] absolute bg-[#fa0505]/80 rounded-full"></div>
    </div>
    <div class="w-[126px] h-32 left-[563px] top-[121px] absolute bg-[#d9d9d9] rounded-full"></div>
    <div class="w-[13.10px] h-[13px] left-[657px] top-[212px] absolute bg-[#13f25f] rounded-full"></div>
    <div class="w-[258px] h-[66px] left-[720px] top-[146px] absolute text-white text-[32px] font-normal font-['Inter']">John Doe</div>
    <div class="w-[53px] h-[46px] left-[1093px] top-[148px] absolute bg-[#d9d9d9]"></div>
    <div class="w-[53px] h-[46px] left-[1162px] top-[148px] absolute bg-[#d9d9d9]"></div>
    <div class="w-3 h-[53px] left-[1311px] top-[145px] absolute">
      <div class="w-3 h-[14.45px] left-0 top-[38.55px] absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-3 h-[14.45px] left-0 top-0 absolute bg-[#d9d9d9] rounded-full"></div>
      <div class="w-3 h-[14.45px] left-0 top-[19.27px] absolute bg-[#d9d9d9] rounded-full"></div>
    </div>
    <div class="w-[794px] h-[98px] left-[538px] top-[782px] absolute bg-[#562727] rounded-xl"></div>
    <div class="w-[53px] h-[46px] left-[1259px] top-[808px] absolute bg-[#d9d9d9]"></div>
    <div class="w-[313px] h-9 left-[575px] top-[795px] absolute text-white text-[32px] font-normal font-['Inter']">Type a message</div>
    <div class="w-[50px] h-[50px] left-[1273px] top-[671px] absolute bg-[#224d8e] rounded-full"></div>
    <div class="w-[266px] h-[50px] left-[993px] top-[671px] absolute bg-[#475361] rounded-[28px]"></div>
    <div class="left-[1012px] top-[681px] absolute text-white text-2xl font-normal font-['Inter']">Long ass message...</div>
    <div class="w-[13.10px] h-[13px] left-[1310px] top-[704px] absolute bg-[#fa0505]/80 rounded-full"></div>
  </div>