<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>File Upload</title>
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <header class="bg-yellow-300 shadow-md h-20">
    <div class="container mx-auto px-6 py-4 flex items-center justify-between">
        <h1 class="text-2xl font-bold python manage.py collectstatictext-black">StudyHive</h1>
        <h2 class="text-xl font-medium mb-4">Welcome, {{ user.username }}</h2>
    </div>
  </header>
  <div class="container mx-auto px-4 py-8">
    <form method="post" enctype="multipart/form-data" class="flex flex-col space-y-4">
      {% csrf_token %}
      <div class="w-full">
        {{ form.as_p }}
      </div>
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload</button>
    </form>

    <h2 class="text-xl font-bold mt-8">Uploaded Files</h2>
    <ul class="list-disc pl-4 space-y-2">
      {% for file in files %}
        <li class="flex items-center justify-between bg-white rounded shadow-sm p-4">
          <a href="{% url 'download_file' file.id %}" class="text-blue-500 hover:underline">{{ file.file.name }}</a>
          <div class="flex items-center space-x-2">
            <span class="text-gray-500 text-sm">Uploaded on {{ file.uploaded_at }}</span>
            <a href="{% url 'delete_file' file.id %}" class="text-red-500 hover:underline">Delete</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

</body>
</html>