{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Event Scheduler</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link href="{% static 'css/card_flip.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  
</head>
<body class="bg-gray-100">
    <header class="bg-yellow-300 shadow-md h-20 flex items-center justify-between px-6">
      <h1 class="text-2xl font-bold text-black">StudyHive</h1>
      <h2 class="text-xl font-medium text-black">Welcome, {{ user.username }}</h2>
    </header>
  
    <h1 class="text-3xl font-bold mb-4 text-center mt-4">Edit Event</h1>

    <div id="alert-1" class="hidden items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium" id="alert-message">
      </div>
    </div>
  
    <form method="post" class="space-y-4 mx-auto max-w-2xl" onsubmit="return validateForm()">
      {% csrf_token %}
  
      <div class="mb-4">
        <label for="title" class="block text-lg font-medium text-gray-700 ">Title</label>
        <input type="text" id="title" name="title" class="border border-gray-300 rounded-md p-2 w-full" value="{{ event.title }}">
      </div>
  
      <div class="mb-4">
        <label for="start_time" class="block text-lg font-medium text-gray-700">Start Time</label>
        <input type="datetime-local" id="start_time" name="start_time" class="border border-gray-300 rounded-md p-2 w-full"  value="{{ event.start_time|date:'Y-m-d\TH:i:s' }}">
      </div>
  
      <div class="mb-4">
        <label for="end_time" class="block text-lg font-medium text-gray-700">End Time</label>
        <input type="datetime-local" id="end_time" name="end_time" class="border border-gray-300 rounded-md p-2 w-full"  value="{{ event.end_time|date:'Y-m-d\TH:i:s' }}">
      </div>
  
      <div class="mb-4">
        <label for="description" class="block text-lg font-medium text-gray-700">Description</label>
        <textarea id="description" name="description" class="border border-gray-300 rounded-md p-2 w-full">{{ event.description }}</textarea>
      </div>
  
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Save Changes
      </button>
      <button type="button" class="bg-gray-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="window.history.back()">
        Cancel
      </button>
    </form>
    
      <script>
        function validateForm() {
          const startTime = document.getElementById('start_time').value;
          const endTime = document.getElementById('end_time').value;
          const today = new Date();
          const pstOffset = 8 * 60 * 60 * 1000; // 8 hours in milliseconds
          today.setTime(today.getTime() + pstOffset);
          const formattedToday = today.toISOString().slice(0, 16).replace('T', ' ');
      
          if (startTime > endTime) {
            const errorMessage = "People can't time travel";
            document.getElementById('alert-message').textContent = errorMessage;
            showModal();
            return false;
          }
          if (startTime < formattedToday) {
            const errorMessage = "People can't teleport you know";
            document.getElementById('alert-message').textContent = errorMessage;
            showModal();  
            return false;
          }
          if (startTime == endTime) {
            const errorMessage = "What event is even this??";
            document.getElementById('alert-message').textContent = errorMessage;
            showModal();  
            return false;
          }
      
          return true;
        }
        function showModal() {
          document.getElementById('alert-1').classList.remove('hidden');
        }
      
        function closeModal() {
          document.getElementById('alert-1').classList.add('hidden');
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
