{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Event Scheduler</title>
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  
</head>
<body class="bg-gray-100">
  <header class="bg-yellow-300 shadow-md h-20">
    <div class="container mx-auto px-6 py-4 flex items-center justify-between">
      <h1 class="text-2xl font-bold text-black">StudyHive</h1>
      <h2 class="text-xl font-medium mb-4">Welcome, {{ user.username }}</h2>
    </div>
  </header>

  <div class="container mx-auto px-6 py-4 flex justify-end">
    <a href="{% url 'create_event' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Create New Event
    </a>
  </div>

  <h1 class="text-3xl font-bold text-center mb-8">Event Scheduler</h1>
  <div class="container mx-auto px-6 py-4 flex justify-between">

    <a href="{% url 'attended_event' %}" class="bg-gray-200 hover:bg-blue-400 text-gray-700  font-bold py-2 px-4 rounded">
      Attended Event
    </a>
    <a href="{% url 'past_event' %}" class="bg-blue-400 hover:bg-blue-400 text-gray-700 font-bold py-2 px-4 rounded">
      Past Events
    </a>
    <a href="{% url 'upcoming_event' %}" class="bg-gray-200 hover:bg-blue-400 text-gray-700 font-bold py-2 px-4 rounded">
      Upcoming Events
    </a>
  </div>

  <div class="events-container p-4">  <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">

    {% for event in events %}
      {% if event.end_time < today %}

      

        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }} by {{ event.author }} </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ event.description }}</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>

        {% comment %} <li class="bg-red-500 p-6 rounded-lg shadow-md cursor-pointer" onclick="toggleCard(this)">
          <h2 class="text-xl font-bold mb-2">{{ event.title }} by {{ event.author }} </h2>
          <p class="text-red-700 mb-2">
            <span class="font-bold">Start Time:</span> {{ event.start_time }}
          </p>
          <p class="text-red-700 mb-2">
            <span class="font-bold">End Time:</span> {{ event.end_time }}
          </p>
          <div class="hidden p-4">
            <p class="text-red-700">{{ event.description }}</p>
          </div>
        </li> {% endcomment %}
      {% endif %}
    {% endfor %}

  </ul>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</div>
</body>
</html>
