{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Event Scheduler</title>
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link href="{% static 'css/card_flip.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  
</head>
<body class="bg-gray-100">
  <header class="bg-yellow-300 shadow-md h-20">
    <div class="container mx-auto px-6 py-4 flex items-center justify-between">
      <h1 class="text-2xl font-bold text-black">StudyHive</h1>
      <h2 class="text-xl font-medium mb-4">Welcome, {{ user.username }}</h2>
    </div>
  </header>


  <div class="container mx-auto px-6 py-4 flex justify-end">
    <a href="{% url 'create_event' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Create New Event
    </a>
  </div>

  <h1 class="text-3xl font-bold text-center mb-8">Event Scheduler</h1>
  <div class="container mx-auto px-6 py-4 flex justify-between">
    
    <a href="{% url 'attended_event' %}" class="bg-gray-200 hover:bg-blue-400 text-gray-700 font-bold py-2 px-4 rounded">
      Attended Event
    </a>
    <a href="{% url 'past_event' %}" class="bg-gray-200 hover:bg-blue-400 text-gray-700 font-bold py-2 px-4 rounded">
      Past Events
    </a>
    <a href="{% url 'upcoming_event' %}" class="bg-blue-400 hover:bg-blue-400 text-gray-700 font-bold py-2 px-4 rounded">
      Upcoming Events
    </a>
  </div>

      <div class="events-container p-4 text-center ">
        <div class="flex justify-end"> 
        <ul class="event-list grid grid-cols-3 gap-4 justify-items-center mx-auto">
          {% for event in events %}
            {% if event.end_time > today %}
              <div class="card mb-4"> <div class="card-inner">
                  <div class="card-front">
                    <div class="card-content">
                      <p class="card-title">{{ event.title }} by {{ event.author }}</p>
                    </div>
                    <div class="card-time">
                      <p>{{ event.start_time }} - {{ event.end_time }}</p>
                    </div>
                  </div>
                  <div class="card-back">
                    <p>{{ event.description }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      </div>
  </ul>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</div>
</body>
</html>
