{% load static %}
<!DOCTYPE html>
<html>
<head>

  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

  
</head>
<body class="bg-cover bg-no-repeat bg-fixed bg-center" style="background-image: url('{% static 'media/studyhive.png' %}');">








  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
        </li>
    </ul>
  </div>
                <div class="h-14 w-w-90%">
                  <div id="default-tab-content">

                    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <form method="post">
                        {% csrf_token %}
                        <footer class="fixed bottom-0 w-full bg-white p-8 border-t border-gray-200 flex flex-col">
                          <div class="flex justify-between">
                            <div class="flex items-center mb-4">
                              <p class="text-gray-700 dark:text-gray-300">Replied message to: {{comment.text}} </p>
                            </div>
                            <div class="flex items-center mb-4">
                              <a href="#" class="block px-4 py-2 hover:text-blue-500" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Cancel</a>
                            </div>
                          </div>
                          <div class="flex">
                            <textarea id="id_text" name="text" name="text" placeholder="Type a message" rows="1" class="flex-grow border-gray-300 p-2 rounded-l-lg"></textarea>
                            <button class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-r-lg">Send</button>
                          </div>
                        </footer>
                      </form>
                    </div>

                    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">

                      <form method="post">
                        {% csrf_token %}
                        <footer class="fixed bottom-0 w-full bg-white p-2 border-t border-gray-200 flex">
                          <textarea id="id_text" name="text" placeholder="Type a message" rows="1" class="flex-grow border-gray-300 p-2 rounded-l-lg"></textarea>
                          <button class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-r-lg">Send</button>
                        </footer>
                      </form>

                    </div>
                  </div>      
                </div>

    


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>


</body>
</html>